
/* General properties */
body {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
   	-moz-user-select: none;
    user-select: none;
	background-image: url('lightTheme.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    color: #000000;
}
model-viewer {
	max-width: 100%;
	max-height: 400px;
	height: 500px;
	width: 75%;
}
.indexImage{
	width:40%;
}

/* Header */
.header {
	z-index: 1;
    color: white;
	font-family: 'DotGothic16', sans-serif;
	text-align: center;
	text-decoration: none;
	font-style: normal;
	font-size: 1.25em;
	display: inline-block;
    vertical-align: middle;
}
.header:hover {
    color: black;
}

/* Navigation bar */
.navbar {
	z-index: 1;
	overflow: hidden;
	position: fixed;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	height: 20%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    text-align:center;
    background-color: black;
}
  
/* Navigation bar links */
.navbar a {
	display: inline-block;
    color: white;
	box-sizing: border-box;
    padding: 20px 40px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Hamburger menu definition */
.navbar a.icon {
	display: none;
}

/* Footer */
footer {
	font-family: "Libre Franklin", Libre Franklin, sans-serif;
	text-align: center;
	font-style: normal;
	font-size: 1em;
	padding: 10px;
    bottom: 0;
    width: 100%;
}

/* Main content */
.main {
	position: absolute;
	margin: 0 auto;
	width: 80%;
	top: 25%;
	left: 5em;
	right: 5em;
	padding: 2em;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
}
.container {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.text-content {
	max-width: 50%;
	padding-right: 20px;
}

/* Framework that swithes between two different things */
.containerForFramework {
	position: relative;
	width: 400px;
	height: 300px;
	overflow: hidden;
}

.frameworkDefault, .frameworkAppearing {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease-in-out;
}

.frameworkAppearing {
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
}

.containerForFramework:hover .frameworkDefault {
	opacity: 0;
}

.containerForFramework:hover .frameworkAppearing {
	opacity: 1;
}

/* Is this really necessary? */
.header-link {
    display: flex;
    align-items: center;
}

/* Styling of titles in the pages */
.page-subtitle{
	font-family: Libre Franklin;
}
.page-question{
	font-family: DotGothic16;
}

/* Responsive layout - When the screen is less than 768px wide  */
@media only screen and (min-width:768px){

	.page-question{
		font-size: x-large;
	}

	.page-subtitle{
		font-size: large;
	}

}
@media only screen and (max-width: 768px) {

	.row, .navbar {   
		flex-direction: column;
	}

	.indexImage{
		width:100%;
	}

	.header{
		margin: 0;
	}

	.text-content {
		max-width: 85%;
		margin:0 auto;
		padding-right: 20px;
	}

	.header-link {
		margin:0;
	}

	.navbar {
		height: 30%;
		padding: 5px;
		margin: 0;
	}

	.responsive {
		width: 100%;
		height: auto;
	}

	.container {
		flex-direction: column;
	}

	.navbar a:not(:nth-child(4)) {
		display: none;
	}

	.navbar a.icon {
		float: right;
		display: block;
		padding: 20px 40px;
	}
	
	.navbar.responsive a.icon {
		top: 0;
		margin:0;
	}

	.navbar.responsive a {
		display: block;
		text-align: left;
		margin:0;
	}

	.main {
		top: 35%;
		left: 0;
		right: 0;
		padding: 0;
	}

}

/* Responsive layout - When the users preferes dark theme turn everything dark */
@media (prefers-color-scheme: dark) {
    body {
        background-image: url('darkTheme.png');
		background-size: cover;
		background-position: center;
		background-repeat: repeat;
        color: #ffffff;
    }
}
